.row-fluid.span12
  .span4
    = contact.full_name
    = contact.addresses.first
    / = debug contact

  .span4
    = contact.full_name
    /= debug contact

  .span4
    = contact.full_name
    /= debug contact

  / %h3{class:"gender-#{contact.gender.try(:code)}"}
  /   %a{:href => "#"} #{contact.full_name}
  / .details
  /   %p 
  /     Some details about 
  /     = link_to contact.full_name, edit_contact_path(contact)
