= form_for @contact do |f|
  = render "shared/error_messages", :target => @contact

  %fieldset
    %legend Incident Details
    .field
      = f.label :contact_type
      = collection_select :contact, :contact_type_id, ContactType.active, :id, :name

    .field
      = f.label :incident_timestamp, "Timestamp"
      = f.text_field :incident_timestamp

  %fieldset
    %legend Contact Details
    .field
      = f.label :first_name
      = f.text_field :first_name

    .field
      = f.label :last_name
      = f.text_field :last_name

    .field
      = f.label :middle_name
      = f.text_field :middle_name

    .field
      = f.label :suffix
      = f.text_field :suffix

    .field
      = f.label :ssn, "SSN"
      = f.text_field :ssn

    .field
      = f.label :dob, "DOB"
      = f.text_field :dob

    .field
      = f.label :ol_number, "OL Number"
      = f.text_field :ol_number

    .field
      = f.label :ol_number, "OL State ID"
      = f.text_field :ol_state_id

    .field
      = f.label :race
      = collection_select :contact, :race_id, Race.active, :id, :value, :include_blank => ""

    .field
      = f.label :gender
      = collection_select :contact, :gender_id, Gender.active, :id, :value, :include_blank => ""

    .field
      = f.label :height
      = f.text_field :height

    .field
      = f.label :weight
      = f.text_field :weight

    .field
      = f.label :eye_color
      = collection_select :contact, :eye_color_id, EyeColor.active, :id, :value, :include_blank => ""

    .field
      = f.label :hair_color
      = collection_select :contact, :hair_color_id, HairColor.active, :id, :value, :include_blank => ""

  %fieldset
    %legend Addresses
    %table
      %thead
        %tr
          %th{:width => "50%"} Street Address
          %th City
          %th State
          %th Postal Code

      - @contact.addresses.each do |address|
        %tr
          %td= address.street_address
          %td= address.city.try(:name)
          %td= address.state.try(:name)
          %td= address.postal_code

  .actions
    = f.submit 'Save'
    %button= link_to 'Cancel Changes', contacts_path
