.stackContent
  = form_for @contact do |f|
    = render "shared/error_messages", :target => @contact

    .field.stackAuto
      .stackContent
        = f.label :title
        = f.text_field :title

    .field.stackAuto
      .stackContent
        = f.label :first_name
        = f.text_field :first_name

    .field.stackAuto
      .stackContent
        = f.label :last_name
        = f.text_field :last_name

    .field.stackAuto
      .stackContent
        = f.label :middle_name
        = f.text_field :middle_name

    .field.stackAuto
      .stackContent
        = f.label :suffix
        = f.text_field :suffix

    .field.stackAuto
      .stackContent
        = f.label :ssn, "SSN"
        = f.text_field :ssn

    .field.stackAuto
      .stackContent
        = f.label :dob, "DOB"
        = f.text_field :dob, :class => "datepicker"

    .field.stackAuto
      .stackContent
        = f.label :ol_number, "OL Number"
        = f.text_field :ol_number

    .field.stackAuto
      .stackContent
        = f.label :ol_number, "OL State ID"
        = f.text_field :ol_state_id

    .field.stackAuto
      .stackContent
        = f.label :race
        = collection_select :contact, :race_id, Race.active, :id, :value, :include_blank => ""

    .field.stackAuto
      .stackContent
        = f.label :gender
        = collection_select :contact, :gender_id, Gender.active, :id, :value, :include_blank => ""

    .field.stackAuto
      .stackContent
        = f.label :height
        = f.text_field :height

    .field.stackAuto
      .stackContent
        = f.label :weight
        = f.text_field :weight

    .field.stackAuto
      .stackContent
        = f.label :eye_color
        = collection_select :contact, :eye_color_id, EyeColor.active, :id, :value, :include_blank => ""

    .field.stackAuto
      .stackContent
        = f.label :hair_color
        = collection_select :contact, :hair_color_id, HairColor.active, :id, :value, :include_blank => ""

    .stackContent
      %table.stackContent.tablesorter
        %thead
          %tr
            %th{:width => "50%"} Street Address
            %th City
            %th State
            %th Postal Code

        - @contact.addresses.each do |address|
          %tr
            %td= address.street_address
            %td= address.city
            %td= address.region.try(:value)
            %td= address.postal_code
          

    .actions
      = f.submit 'Save'
