#search_bar
  = form_tag contacts_path, :method => "get" do
    = text_field_tag "search", params[:search]
    = submit_tag "Search by Name", :name => nil

= link_to "Add Contact", new_contact_path

.stackContent
  #accordion
    - @contacts.each do |contact|
      %h3{class:"gender-#{contact.gender.try(:code)}"} <a href="#">#{contact.full_name}</a>
      .details
        %p 
          Some details about 
          = link_to contact.full_name, edit_contact_path(contact)

-#%table.stackContent.tablesorter
-#  %thead
-#    %tr
-#      %th Date
-#      %th Type
-#      %th Name
-#      %th DoB
-#      %th Address
-#      %th Race / Gender
-#
-#  - if @contacts.empty?
-#    %tr
-#      %td No contacts found
-#  - else 
-#    - @contacts.each do |contact|
-#      %tr{ :url => edit_contact_path(contact) }
-#        %td= contact.incident_timestamp.blank? ? "" : contact.incident_timestamp.strftime('%m/%d/%Y')
-#        %td= contact.contact_type.name
-#        %td= link_to contact.full_name, edit_contact_path(contact)
-#        %td= contact.dob
-#        %td= contact.addresses.first.try(:full_address)
-#        %td= "#{contact.race.try(:code)} / #{contact.gender.try(:code)}"
-#      -#%td= link_to 'Show', contact
-#      -#%td= link_to 'Edit', edit_contact_path(contact)
-#      -#%td= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete



