- type_counts = {}
- Contact.count(:all, :group => "contact_type_id").map{|k,v| type_counts[ContactType.find(k).name] = v }

%div.stackContent
  %stackContent.stack2of4.chart
    %img{:src => "http://chart.apis.google.com/chart?chxs=0,000000,11.5&chxt=x&chs=460x225&cht=p3&chco=0000FF&chd=t:#{type_counts.values.join(',')}&chl=#{type_counts.keys.join('|')}&chtt=Contacts+by+Type"}

  %stackContent.stack2of4.chart
    %img{:src => "http://chart.apis.google.com/chart?chs=460x225&cht=lxy&chco=3072F3,FF0000&chds=0,6,0,100,0,95,0,100&chd=t:0,1,2,3,4,5|#{type_counts.values.join(',')}|-1|#{type_counts.values.join(',')}&chdl=#{type_counts.keys.join('|')}&chdlp=b&chls=2,4,0|1&chma=5,5,5,25&chtt=Contacts+Over+Time"}


%buttons.stackContent
  %h2 Choose your report:
  %button.positive= link_to "Recent Contacts", report_url("recent_contacts")
  %button.positive= link_to "5 Most Recent Contacts", report_url("recent_contacts", :q => 5)
  %button.positive= link_to "25 Most Recent Contacts", report_url("recent_contacts", :q => 25)
  %button.positive= link_to "50 Most Recent Contacts", report_url("recent_contacts", :q => 50)
  %button.positive= link_to "10 Most Recent Contacts", report_url("recent_contacts", :q => 10)
  %button.positive= link_to "Yet Another Report", report_url("recent_contacts")
  %button.positive= link_to "Yet Another Report2", report_url("recent_contacts")
  %button.positive= link_to "Yet Another Report3", report_url("recent_contacts")


-#.stackContent
-#  %ul.tabs
-#    %li
-#      %a{:href=>"/reports/recent_contacts"}Recent Contacts
-#    %li
-#      %a{:href=>"/reports/2"}Report 2
-#    %li
-#      %a{:href=>"/reports/3"}Report 3
-#
-#  .panes
-#    %div{:style=>"display:block"}
