!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => "KangarooBox"}
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
    %title= "Dingo #{yield :title}"

    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body
    #wrapper
      #sidebar
        %h1
          %a{:href => root_url} #{StaticData.site_name}

        %a#large-logo{:href => root_url, :title => "#{yield :title}"}
          %img{:src => "/assets/badge.png"}/
        - unless params[:controller] == "dashboard"
          = render :partial => "shared/dashboard_buttons"

        #footer
          %p
            Dingo&copy; 2011 
            %a{:href => "http://kangaroobox.com", :target => "_blank"} KangarooBox, LLC
        
      #main
        #header_mini
          %a{:href => "#", :title => "Expand Header"} Expand
        #header
          #user_info
            - if current_user
              #{current_user.full_name}
              %a{:href => logout_url} Logout
            - else
              %a{:href => login_url} Login

          #flash
            = show_flash
          
        #content
          = yield

  = javascript_include_tag "application"
