!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => "KangarooBox"}
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
    %title= "Dingo #{yield :title}"

    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body
    #wrapper
      #sidebar
        %a#large-logo{:href => root_url, :title => "#{yield :title}"}
          %img{:src => "/assets/small-logo.png"}/
        %ul
          %li{:class => "contacts#{controller_name == 'contacts' ? ' active' : ''}"}
            = link_to "Contacts", contacts_path
          %li{:class => "search#{controller_name == 'search' ? ' active' : ''}"}
            = link_to "Search", search_index_path
          %li{:class => "reports#{controller_name == 'reports' ? ' active' : ''}"}
            = link_to "Reports", reports_path
          %li{:class => "admin#{controller_name == 'admin' ? ' active' : ''}"}
            = link_to "Admin", admin_index_path
        
      #main
        %h1
          %a{:href => root_url} Indian Hills P.D.

        #content
          = yield

    #footer
      %p
        Dingo
        %a{:href => "http://kangaroobox.com", :target => "_blank"} &copy; 2011 KangarooBox, LLC

  = javascript_include_tag "application"
