!!!
%html
  %head
    %title
      = "Dingo #{yield :title}"

    = stylesheet_link_tag "reset", :media => "all"
    = stylesheet_link_tag "stacklayout.css", :media => "all"
    = stylesheet_link_tag "stacklayout_mobile.css", :media => "handheld, only screen and (max-width: 767px)"
    = stylesheet_link_tag "jquerytools", "application"

    /[if lte IE 7]
      = stylesheet_link_tag "stacklayout_lte_ie7.css", :media => "all"



  %body#container
    #page
      .stack
        #header.stack
          %h1#title.stackContent Dingo

          %ul#nav.stackContent
            %li{:class => controller_name == "contacts" ? "active" : ""}
              %a{:href => "/contacts"} Contacts
            %li{:class => controller_name == "search" ? "active" : ""}
              %a{:href => "#"} Search
            %li{:class => controller_name == "reports" ? "active" : ""}
              %a{:href => "/reports"} Reporting
            %li{:class => controller_name == "admin" ? "active" : ""}
              %a{:href => "#"} Admin

        .stackContent#flash
          =show_flash

        #content
          =yield

        #footer
          .stackAuto
            %p.stackContent 
              %a{:href => "http://kangaroobox.com", :target => "_blank"} &copy; 2011 KangarooBox, LLC

  = javascript_include_tag "jquery.min","http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js","jquery.tablesorter.min","rails"
  = javascript_include_tag "application"
