!!!
%html
  %head
    %title
      = "Dingo #{yield :title}"

    = stylesheet_link_tag "reset", :media => "all"
    = stylesheet_link_tag "stacklayout.css", :media => "all"
    = stylesheet_link_tag "stacklayout_mobile.css", :media => "handheld, only screen and (max-width: 767px)"
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css"
    = stylesheet_link_tag "jquerytools", "application"

    /[if lte IE 7]
      = stylesheet_link_tag "stacklayout_lte_ie7.css", :media => "all"

  %body#container
    #page
      .stack
        #header.stack
          %h1#title.stackContent
            %a{href: root_url}
              %img{src: "/images/badge.jpg", :height => "30px"}
              Indian Hills P.D.


          %ul#nav.stackContent
            %li{class: controller_name == "contacts" ? "active" : ""}
              = link_to "Contacts", contacts_path
            %li{class: controller_name == "search" ? "active" : ""}
              = link_to "Search", search_index_path
            %li{class: controller_name == "reports" ? "active" : ""}
              = link_to "Reports", reports_path
            %li{class: controller_name == "admin" ? "active" : ""}
              = link_to "Admin", admin_index_path

        .stackContent#flash
          =show_flash

        #content
          =yield

        #footer
          .stackAuto
            %p.stackContent 
              Dingo
              %a{href: "http://kangaroobox.com", target: "_blank"} &copy; 2011 KangarooBox, LLC

  =# javascript_include_tag "jquery.min","http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js","jquery.tablesorter.min","rails"
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js", 
        "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js", "rails"
  = javascript_include_tag "application"
